mixin Modal(title, text, content, line, buttons, linkInfo)
    //- this div contains .modal-layout
    div(class!=attributes.class)
        //- .modal is modal conainer
        .modal 
            //- Fontawesome icon
            i.fa-solid.fa-xmark.modal__close
            .modal__information 
                h3.modal__title=title
                if text != ''
                    p.modal__text=text
                else 
                    .modal__content !{content}
            .modal__options 
                if line == 'l'
                    .modal__line
                .modal__buttons 
                    if buttons.length == 3
                        span.modal__button.modal__ok #{buttons[0]}
                        span.modal__button.modal__info #{buttons[1]}
                        span.modal__button.modal__cancel #{buttons[2]}
                    else if buttons.length == 2
                        span.modal__button.modal__ok #{buttons[0]}
                        span.modal__button.modal__cancel #{buttons[1]}
                    else 
                        span.modal__button.modal__ok #{buttons[0]}